:root {
  /* Main */
  --primary: #686bd4; /* Primary Button */
  --secondary: #f3e2d9; /* Secondary Button */
  --base-black: #201a1a; /* Text, icons */
  --base-white: #fff; /* Text, icons, backgrounds */
  --base-sand: #f3e7e0; /* Backgrounds */

  /* App General */
  --error: rgb(199, 28, 28);
  --error-border: rgb(233, 198, 198);
  --error-dark: rgb(129, 34, 34);
  --error-light: rgb(255, 234, 234);
  --warning: rgb(206, 148, 23);
  --warning-border: rgb(219, 204, 167);
  --warning-dark: rgb(107, 74, 23);
  --warning-light: rgb(255, 244, 223);
  --success: rgb(17, 142, 71);
  --success-border: rgb(188, 219, 201);
  --success-dark: rgb(18, 81, 45);
  --success-light: rgb(224, 248, 234);
  --info: rgb(87, 87, 175);
  --info-border: rgb(198, 198, 228);
  --info-dark: rgb(32, 32, 106);
  --info-light: rgb(233, 233, 255);

  /* Transparencies */
  --t-white-33: rgba(255, 255, 255, 0.33);
  --t-white-50: rgba(255, 255, 255, 0.5);
  --t-white-66: rgba(255, 255, 255, 0.66);

  /* Other */
  --cotton-01: #f9f2ee;
  --sand-01: #fbf0eb;
  --sand-02: #f3e9e4;
  --sand-03: #ccb9af;
  --sand-04: #f1dac6;
  --terra-01: #d09983;
  --terra-02: #a8766c;
  --terra-03: #9e605a;
  --terra-04: #7d625a;
  --terra-05: #433530;
  --terra-06: #846e66;
  --terra-07: #b7a49d;
  --terra-08: #edbba6;
  --sky-01: #9dd1fe;
  --ocean-01: #3136b7;
  --ocean-02: #0b1096;
  --cloud-01: #f2f2f2;
  --cloud-02: #d8d8d8;
  --cloud-03: #afafaf;
  --cloud-04: #666666;

  /* Gradients */
  --linear-sand-01: linear-gradient(
    0deg,
    color-mix(in srgb, var(--terra-01) 50%, transparent),
    var(--base-sand)
  );
}

* {
  box-sizing: border-box;
  font-family: "Reddit Sans", sans-serif;
}

button {
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100%;
  height: auto;
  width: 100%;
}

#app {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.15rem;
  color: var(--base-black);
  background-image: var(--linear-sand-01);
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.main-view-container {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.app-header {
  grid-column: 2;
  grid-row: 1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  white-space: normal;
  line-height: 140%;
  letter-spacing: 0.0063rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}

.page-padding-inline {
  width: 100%;
  padding-inline: 1.25rem;
  text-align: left;
}

.hidden {
  display: none;
}

.flex-grow {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.task-view-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 1rem 1rem;
}

.task-progress-body-text {
  white-space: nowrap;
  font-size: 2.7rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4375rem;
}

.empty-state {
  padding: 0.8rem 1.25rem 1rem 1.25rem;
  text-align: left;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

::selection {
  background-color: var(--terra-08);
  color: var(--base-black);
}

a {
  text-decoration: none;
}

.inline-link {
  color: var(--ocean-02);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.inline-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--ocean-01);
}

/*_______________________________________________________*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #app {
    font-size: 1.1rem;
  }

  .empty-state {
    padding: 0.8rem 3rem 1rem 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .task-view-layout {
    margin-block: 0rem 1rem;
  }
  .main-view-container {
    width: 69vw;
    margin-inline: auto;
    padding-right: 0.6rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
