:root {
  /* Main */
  --primary: #686bd4; /* Primary Button */
  --secondary: #f3e2d9; /* Secondary Button */
  --base-black: #201a1a; /* Text, icons */
  --base-white: #fff; /* Text, icons, backgrounds */
  --base-sand: #f3e7e0; /* Backgrounds */

  /* App General */
  --error: rgb(199, 28, 28);
  --warning: rgb(206, 148, 23);
  --success: rgb(17, 142, 71);
  --info: rgb(87, 87, 175);

  /* Other */
  --sand-01: #fbf0eb;
  --sand-02: #f3e9e4;
  --sand-03: #ccb9af;
  --terra-01: #d09983;
  --terra-02: #a8766c;
  --terra-03: #9e605a;
  --sky-01: #9dd1fe;
  --cloud-01: #f2f2f2;
  --cloud-02: #d8d8d8;
}

* {
  box-sizing: border-box;
  font-family: 'Reddit Sans', sans-serif;
}

button {
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100%;
  height: auto;
  width: 100%;
}

#app {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.15rem;
  color: var(--base-black);
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  white-space: normal;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}

.page-padding-inline {
  width: 100%;
  padding-inline: 1.25rem;
  text-align: left;
}

.hidden {
  display: none;
}

.flex-grow {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.task-progress-headline {
  color: var(--terra-03);
  padding-inline: 1.3rem;
  max-width: 40ch;
  white-space: normal;
}

.task-progress-body-text {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4375rem;
}

.empty-state {
  padding: 2rem 1.25rem;
  text-align: left;
}

@media (min-width: 576px) {
  #app {
    font-size: 1.1rem;
  }

  .empty-state {
    padding-inline: 3rem;
  }
}
/* @media (min-width: 992px) {
  #app {
    padding: 1.5rem min(16rem, 15%);
  }
} */
